[
  {kernel,
    [
      {logger_level, info},
      {logger,
        [
          {handler, default, logger_std_h,
            #{level => error,
              config => #{
              file => "log/error.log"
            }
            }
          },
          {handler, info, logger_std_h,
            #{level => info,
              filters => [
              {skip_progress_info, {fun logger_filters:progress/2, stop}}
            ],
              config => #{
              file => "log/info.log"
            }
            }
          }

        ]}]
  }
].
